.playlist-container {
  margin: 0 100px;
  padding: 20px;
}

.section-title {
  text-align: center;
  font-size: 22px;
  margin: 10px 0;
}

.playlist-container ul {
  list-style-type: none;
}

@media (min-width: 360px), (max-width: 360px) {
  .playlist-container {
    margin: 0;
    padding: 10px;
  }

  .section-title {
    font-size: 18px;
  }
}

@media (min-width: 640px) {
  .playlist-container {
    margin: 0 30px;
    padding: 15px;
  }

  .section-title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .playlist-container {
    margin: 0 100px;
    padding: 20px;
  }

  .section-title {
    font-size: 30px;
  }
}
