.controls {
  margin: 0 100px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.controls-button {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #ddd;
  cursor: pointer;
  outline: none;
}

.controls-button.active {
  color: #1ed760;
}

.controls-button:hover {
  color: white;
}

.controls-button.active:hover {
  color: #17e45f;
}

@media (min-width: 360px), (max-width: 360px) {
  .controls {
    margin: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }

  .controls-button {
    padding: 5px;
    font-size: 12px;
  }
}

@media (min-width: 640px) {
  .controls {
    padding: 15px;
  }

  .controls-button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .controls {
    padding: 20px;
  }

  .controls-button {
    padding: 10px 30px;
    font-size: 20px;
  }
}
