.controls {
  margin: 0 100px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.controls-button {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #ddd;
  cursor: pointer;
  outline: none;
}

.controls-button.active {
  color: #1ed760;
}

.controls-button:hover {
  color: white;
}

.controls-button.active:hover {
  color: #17e45f;
}
